@import '../abstract/variaveis';

.banner {
    align-items: center;
    background: url(../../imagens/banner.jpeg) 27% center no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    min-height: 800px;
    opacity: 0.9;
    .inner-banner {
        background-color: $cor-terciaria;
        border-radius: 50%;
        opacity: 0.9;
        padding: 3rem;
        text-align: center;
        h1 {
            color: $cor-primaria;
            font-size: $tamanho-do-texto;
        }
        h2 {
            color: $cor-secundaria;
            font-size: $tamanho-do-texto / 2;
        }
    }
}